	<ion-view view-title=" Visi Misi" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-visi_misi" class=" page-visi_misi">
		<div class="card">
  <div class="item item-text-wrap">
<p style="text-align: center;"><strong>Visi BPP&nbsp;</strong></p>
<p style="text-align: center;">Menciptakan/melahirkan manusia Indonesia yg berjiwa Pancasilais, mencintai NKRI, dan bersemboyan Bhinneka Tunggal Ika.</p>
<p style="text-align: center;"><strong>Misi BPP</strong></p>
<ol>
<li style="text-align: center;">Mengedukasi dan menanamkan nilai-nilai Pancasila kepada masyarakat mulai dari sekolah dasar hingga perguruan tinggi dan komponen bangsa lainnya.</li>
<br><li style="text-align: center;">Memberikan pelatihan dasar-dasar manajemen pemasaran bagi para UKM dan unit-unit usaha kecil dalam kaitannya dengan UU nomor 6 tahun 2014 tentang pemerintahan desa untuk pemberdayaan ekonomi masyarakat desa. Sehingga bisa tercapai sila ke-5 yakni keadilan sosial bagi seluruh rakyat Indonesia.</li>
<br><li style="text-align: center;">Melaksanakan bakti sosial kepada masyarakat yg kurang beruntung, para kaum dhuafa, dan anak yatim-piatu.</li>
</ol>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
